<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestSuite" parallel="tests" thread-count="5">
    <test name="LoginTests">
        <classes>
            <!-- Fully qualified class name including package -->
            <class name="LoginTest">
                <methods>
                    <include name="testLogin" />
                    <include name="testLogOut" />
                    <include name="validationErrorMessage" />
                    <include name="enterUsernameWithEmptyPasswordErrorMessage" />
                </methods>
            </class>
        </classes>
    </test> <!-- LoginTests -->
</suite> <!-- TestSuite -->
